<app-header title="login"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (submit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>
      <!-- ////////////// EMAIL INPUT ////////////// -->
      <app-custom-input icon="mail-outline" autocomplete="email" [control]="form.controls.email" type="email"
        label="Email"></app-custom-input>
      @if(form.controls.email.errors && form.controls.email.touched){
      <div class="validators">
        @if(form.controls.email.errors['required']){
        <div>Email is required</div>
        }
        @if(form.controls.email.errors['email']){
        <div>Type a valid email</div>
        }
      </div>
      }
      <!-- ////////////// PASSWORD INPUT ////////////// -->
      <app-custom-input icon="lock-closed-outline" [control]="form.controls.password" type="password"
        label="Password"></app-custom-input>
      @if(form.controls.password.errors && form.controls.password.touched){
      <div class="validators">
        @if(form.controls.password.errors['required']){
        <div>Password is required</div>
        }
      </div>
      }
      <!-- {{form.value | json}} -->
      <p routerLink="forgot-password" class="ion-text-start">Forgot password?</p>
      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        login
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>

      <ion-button class="ion-margin-top" routerLink="sign-up" expand="block" mode="ios" fill="outline">
        Register
        <ion-icon slot="end" name="person-add-outline"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
