<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!-- go back button -->
      @if (backButton) {
      <ion-back-button [defaultHref]="backButton"></ion-back-button>
      }
      <!-- dismiss modal button -->
      @if(isModal){
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-circle-outline"></ion-icon>
      </ion-button>
      }
      @if(showMenu){
      <ion-menu-button menu="menu-content"></ion-menu-button>
      }
    </ion-buttons>
    <ion-title>
      <strong>{{title}}</strong>
      <div class="admin">ADMIN</div>
    </ion-title>
  </ion-toolbar>
</ion-header>
