<app-header backButton="/auth" title="Recover account"></app-header>

<ion-content>
  <div class="d-flex-center">
    <form [formGroup]="form" class="auth-form" (submit)="submit()" (keypress.enter)="submit()">
      <app-logo></app-logo>
      <p class="ion-text-center">We will send you an email so you can reset your password</p>
      <!-- ////////////// EMAIL INPUT ////////////// -->
      <app-custom-input icon="mail-outline" autocomplete="email" [control]="form.controls.email" type="email"
        label="Email"></app-custom-input>
      @if(form.controls.email.errors && form.controls.email.touched){
      <div class="validators">
        @if(form.controls.email.errors['required']){
        <div>Email is required</div>
        }
        @if(form.controls.email.errors['email']){
        <div>Type a valid email</div>
        }
      </div>
      }
      <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Recover
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>

