<ion-item class="custom-input" lines="none">
  @if(icon){
  <ion-icon slot="start" [name]="icon" color="primary"></ion-icon>
  }
  <ion-input [type]="type" [autocomplete]="autocomplete" [label]="label" [formControl]="control"
    label-placement="floating"></ion-input>
  @if(isPassword){
  <ion-button (click)="togglePasswordVisibility()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide? 'eye-outline' : 'eye-off-outline' "></ion-icon>
  </ion-button>
  }
</ion-item>
